{% extends 'base.html.twig' %}

{% block body %}

    <h1>{{ post.title }}</h1>
    <div>
        <h3>{{ post.lead }}</h3>
        <p>{{ post.content }}</p>
        <span class="">Dodano: {{ post.createdAt|date('H:i d-m-Y') }}</span> 

        <hr/>
        <div>
            <h4>Komentarze</h4>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-primary pull-right">Dodaj komentarz</button>
            {{ form_end(form) }}
        </div>
        <div>
            {% for comment in post.comments %}
                <p>{{ comment.content }}</p>
                <span class="">Dodany: {{ comment.createdAt|date('H:i d-m-Y') }}</span> 
                <hr/>
            {% endfor %}
        </div>
    </div>

{% endblock %}
